/* HeroesComponent's private CSS styles */
.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

input {
  display: block;
  width: 100%;
  padding: .5rem;
  margin: 0;
  box-sizing: border-box;
}

.heroes li {
  position: relative;
  cursor: pointer;
}

.heroes li:hover {
  left: .1em;
}

.heroes a {
  color: #333;
  text-decoration: none;
  background-color: #EEE;
  height: 1.6em;
  border-radius: 4px;
  display: grid;
  place-items: center;
  grid-template-columns: auto 1fr;
  width: 100%;
}

.heroes a:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}

.heroes a:active {
  background-color: #525252;
  color: #fafafa;
}

.heroes .badge {
  display: inline-block;
  font-size: 0.9em;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 0.5em;
  position: relative;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  border-radius: 4px 0 0 4px;
}


.new-hero-container{
  display: grid;
  grid-template-columns: 90px 1fr 100px;
  gap: 1em;
  place-items: center;
  max-width: 500px;
  margin: 0 0 1rem 0;
}
.add-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin: 0;
}

.add-button:hover {
  color: white;
  background-color: #42545C;
}

button.delete {
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: white;
  color: #525252;
  font-size: 1.1rem;
  margin: 0;
  padding: 1px 10px 3px 10px;
  border: 1px solid #525252;
}

button.delete:hover {
  background-color: #525252;
  color: white;
}